// Fonts
$font-family-sans-serif: "Montserrat", serif;
$font-size-base: 1rem;
$headings-font-family: "Poppins", sans-serif;
$headings-line-height: 1.2;
$headings-font-weight: 500;


// Custom colors
$primary: #034C41;
$secondary: #81B337;
$success: #60BAA8;
$danger: #E35A62;
$warning: #91A8FB;
$info: #91A8FB;
$light: #EAEEF7;
$dark: #202631;
$gray: #505050;