.wrapper{
    &.auth{
        // background: rgb(41,35,92);
        // background: linear-gradient(36deg, rgba(41,35,92,1) 0%, rgba(69,83,158,1) 35%, rgba(239,111,51,1) 100%), url('../img/tisb-student.png');
        background: 
    linear-gradient(
  to bottom right,
  rgba(0, 111, 227, 0.9),
  rgba(255, 92, 138, 0.8)
), 
    url('../img/bg-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

        height: 100vh;
        overflow-y: auto;

        .logo{
            filter: none;
            width: 220px;
            position: fixed;
            left: 32px;
            top: 32px;
        }

        .auth-box{
            margin-top: 100px;
            padding: 36px;
            max-width: 24rem;
            background: rgba($secondary, 0.2);
            border: none;

            .form-label{
                color: #fff;
            }

            .title{
                margin-bottom: 36px;
                text-transform: uppercase;
                font-weight: bold;
                color: #fff;
                text-align: right;
            }
        }
    }
}