.notifyjs-corner{
    top: 6px !important;
}

.notifyjs-bootstrap-base{
    font-weight: normal !important;
    padding: 8px 24px !important;
    padding-left: 56px !important;
    background-position: 16px center !important;
    background-color: #fff !important;
}

// .notifyjs-bootstrap-success{
//     background-color: #fff !important;
//     background-position: 16px center !important;
//     color: $text-primary !important;
// }