.select2-container--default .select2-selection--single{
    border-radius: 16px;
}

// .select2-container .select2-dropdown{
//     width: 220px !important;
// }

.select2-container .select2-selection, 
.select2-container .select2-selection, 
.select2-container .select2-selection, 
.select2-container .select2-selection{
    border-color: $gray-300;

    &:hover,
    &:focus,
    &:active,
    &:focus-visible,
    &:focus-within{
        border-color: $primary-200 !important;
    }
}

.dropdown-sm,
.custom-select-sm{
    .select2-container--default .select2-selection--single{
        font-size: 0.875rem;
        padding: 0.15rem 0.5rem ;
    }
}
