
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Color shades

$primary-50:  #E6F1FF;
$primary-100: #CCE4FF;
$primary-200: #99C9FF;
$primary-300: #66ADFF;
$primary-400: #3392FF;
$primary-500: #006FE3; // base
$primary-600: #0059B6;
$primary-700: #004389;
$primary-800: #002D5C;
$primary-900: #00172F;
$primary-950: #00172F;

$secondary-50:  #FFE8EF;
$secondary-100: #FFD1DF;
$secondary-200: #FFA3BF;
$secondary-300: #FF759F;
$secondary-400: #FF5C8A;
$secondary-500: #FF3F75; // base
$secondary-600: #E63666;
$secondary-700: #B82B51;
$secondary-800: #8A203D;
$secondary-900: #5C1428;

$gray-50: #F8FAFC;
$gray-100: #F1F5F9;
$gray-200: #E2E8F0;
$gray-300: #CAD5E2;
$gray-400: #90A1B9;
$gray-500: #62748E;
$gray-600: #45556C;
$gray-700: #314158;
$gray-800: #1D293D;
$gray-900: #0F172B;
$gray-950: #020618;

// Primary Colors
$primary: $primary-500;
$secondary: $secondary-400;
$accent: #ff6a00;
$neutral: #f2f2f2;
$highlight: #0073e6;
$light: $gray-200;

// Background Colors
$bg-light: $gray-200;
$bg-dark: $gray-500;

// Text Colors
$text-primary: #191537;
$text-secondary: #62748E;
$text-light: #F8FAFC;

// Alert Colors
$success: #22C55E;
$alert: #F59E0B;
$warning: #F59E0B;
$error: #EF4444;
$info: rgb(99, 89, 192);
$other: #9c7df9;
$new: $primary-300;
$white: #fff;

// $success: rgb(61, 220, 151);
// $alert: #F4BF50;
// $warning: #FF6B00;
// $error: rgb(255, 59, 48);
// $info: rgb(99, 89, 192);
// $other: #A78BFA;

  [data-luno=theme-blue],
  [data-luno=theme-cyan] {
    --primary-color: #{$primary} !important;
    --bs-success-rgb: 25, 135, 84 !important;
    --bs-danger-rgb: 255, 59, 48 !important;
    --primary-rgb: 41, 35, 92 !important;
    --bs-btn-active-bg: #{$primary} !important;
  }

  

  // Rounded Corner
  $border-radius-none: 0px;
  $border-radius-sm: 4px;
  $border-radius-md: 8px;
  $border-radius-lg: 12px;
  $border-radius-xl: 16px;
  $border-radius-2xl: 24px;
  $border-radius-full: 9999px;



